<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TargetOnly</key>
	<true/>
	<key>Macros</key>
	<dict>
		<key>POD_ABBREVIATION</key>
		<string>OCSP</string>
		<key>POD_PLATFORM_IDENTIFIER</key>
		<string>___POD_PLATFORM_IDENTIFIER___</string>
		<key>POD_NAME</key>
		<string>OCSlimProjectTestBundleSupport</string>
		<key>PRINCIPALCLASSNAME</key>
		<string>OCSPTestSuite</string>
	</dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>io.cleankit.baseAcceptanceTestsUnitTestBundle</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.unitTestBundleBase</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Name</key>
					<string>[___POD_ABBREVIATION___] Generate Fitnesse Test Bundle Resource File</string>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>ShellScript</key>
					<string>FITNESSE_SUITE_NAME=&quot;___VARIABLE_fitnesseSuiteName___&quot;
TEST_REPORT_FILE_PATH=&quot;${OCSP_TEST_REPORT_FILE_PATH}&quot;
${OCSP_SUPPORT_FILE_DIR}/ocsp-generate-fitnesse-test-report.sh $FITNESSE_SUITE_NAME $TEST_REPORT_FILE_PATH</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>___PACKAGENAMEASIDENTIFIER___.m</key>
						<dict>
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___.m</string>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>___PACKAGENAMEASIDENTIFIER___.m</string>
					</array>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>___PACKAGENAMEASIDENTIFIER___.swift</key>
						<dict>
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___.swift</string>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>___PACKAGENAMEASIDENTIFIER___.swift</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>SortOrder</key>
			<integer>0</integer>
			<key>EmptyReplacement</key>
			<string>&lt;Required&gt;</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Fitnesse Suite Page Name:</string>
			<key>Identifier</key>
			<string>fitnesseSuiteName</string>
			<key>Description</key>
			<string>Your Fitnesse test suite&apos;s page name (e.g. FrontPage)</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>SortOrder</key>
			<integer>1</integer>
			<key>Identifier</key>
			<string>fitnesseURL</string>
			<key>Name</key>
			<string>Fitnesse Suite Test URL:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Description</key>
			<string>Your fitnesse test suite URL</string>
			<key>Default</key>
			<string>http://localhost:8080/___VARIABLE_fitnesseSuiteName___?suite</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		
	</array>
	<key>Nodes</key>
	<array>
		<string>___POD_NAME___.m</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>___POD_NAME___.m</key>
		<dict>
			<key>Path</key>
			<string>___POD_NAME___.m</string>
		</dict>
	</dict>
</dict>
</plist>
