<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.cucumberishUITestBundleBase</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.uiTestBundleBase</string>
	</array>
	<key>TargetOnly</key>
	<true/>
	<key>AssociatedTargetSpecification</key>
<dict>
	<key>PopUpTitle</key>
	<string>Target to be Tested:</string>
	<key>PopUpDescription</key>
	<string>The application that this new test bundle will be testing. The new UI Tests will be associated with that target&apos;s scheme.</string>
	<key>AllowableProductTypes</key>
	<array>
		<string>com.apple.product-type.application</string>
	</array>
	<key>AssociatedTargetIsTargetToBeTested</key>
	<true/>
</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>ProductType</key>
			<string>com.apple.product-type.bundle.ui-testing</string>
			<key>SharedSettings</key>
			<dict>
				<key>GCC_PREPROCESSOR_DEFINITIONS</key>
				<string>DEBUG=1 $(inherited) SRC_ROOT=@\&quot;$(SRCROOT)\&quot;</string>
				<key>LD_RUNPATH_SEARCH_PATHS</key>
				<string>$(inherited) @executable_path/Frameworks @loader_path/Frameworks</string>
				<key>SWIFT_OBJC_BRIDGING_HEADER</key>
				<string>___PACKAGENAMEASIDENTIFIER___/___PACKAGENAMEASIDENTIFIER___-Bridging-Header.h</string>
			</dict>
			<key>Configurations</key>
			<dict>
				<key>Debug</key>
				<dict>
					<key>SRC_ROOT</key>
					<string>@\&quot;$(SRCROOT)\&quot;</string>
				</dict>
				<key>Release</key>
				<dict/>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Resources</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>HomeScreen.swift</string>
		<string>HomeScreenSteps.swift</string>
		<string>CommonStepDefinitions.swift</string>
		<string>Info.plist:PackageType</string>
		<string>___PACKAGENAMEASIDENTIFIER___-Bridging-Header.h</string>
		<string>___PACKAGENAMEASIDENTIFIER___.h</string>
		<string>___PACKAGENAMEASIDENTIFIER___.m</string>
		<string>___PACKAGENAMEASIDENTIFIER___.swift</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>HomeScreen.swift</key>
		<dict>
			<key>Path</key>
			<string>HomeScreen.swift</string>
			<key>Group</key>
			<string>Screens</string>
		</dict>
		<key>HomeScreenSteps.swift</key>
		<dict>
			<key>Path</key>
			<string>HomeScreenSteps.swift</string>
			<key>Group</key>
			<string>Step Definitions</string>
		</dict>
		<key>CommonStepDefinitions.swift</key>
		<dict>
			<key>Path</key>
			<string>CommonStepDefinitions.swift</string>
			<key>Group</key>
			<string>Common</string>
		</dict>
		<key>Info.plist:PackageType</key>
		<string>&lt;key&gt;CFBundlePackageType&lt;/key&gt;
&lt;string&gt;BNDL&lt;/string&gt;
</string>
		<key>___PACKAGENAMEASIDENTIFIER___-Bridging-Header.h</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___-Bridging-Header.h</string>
			<key>Group</key>
			<string>Supporting Files</string>
		</dict>
		<key>___PACKAGENAMEASIDENTIFIER___.swift</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___.swift</string>
		</dict>
		<key>___PACKAGENAMEASIDENTIFIER___.m</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___.m</string>
			<key>Group</key>
			<string>Supporting Files</string>
		</dict>
		<key>___PACKAGENAMEASIDENTIFIER___.h</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___.h</string>
			<key>Group</key>
			<string>Supporting Files</string>
		</dict>
	</dict>
</dict>
</plist>
