<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Macros</key>
	<dict>
		<key>POD_PLATFORM_IDENTIFIER</key>
		<string>osx, 10.8</string>
	</dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>io.cleankit.macAcceptanceTestsUnitTestBundle</string>
	<key>Name</key>
	<string>Acceptance Unit Test Bundle</string>
	<key>Description</key>
	<string>This target builds an OS X unit test bundle that generates results from your Acceptance Tests target using Fitnesse and then reports them within Xcode using the XCTest framework.</string>
	<key>Concrete</key>
	<true/>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.macosx</string>
	</array>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.osxBase</string>
		<string>io.cleankit.baseAcceptanceTestsUnitTestBundle</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>SharedSettings</key>
			<dict>
				<key>LD_RUNPATH_SEARCH_PATHS</key>
				<string>$(inherited) @executable_path/../Frameworks @loader_path/../Frameworks</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
