<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Macros</key>
	<dict>
		<key>POD_ABBREVIATION</key>
		<string>OCSP</string>
		<key>POD_NAME</key>
		<string>OCSlimProject</string>
		<key>POD_PLATFORM_IDENTIFIER</key>
		<string>___POD_PLATFORM_IDENTIFIER___</string>
	</dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Swift</key>
	<dict>
		<key>Nodes</key>
		<array/>
		<key>Definitions</key>
		<dict>
			<key>___PACKAGENAMEASIDENTIFIER___.swift</key>
			<dict>
				<key>Path</key>
				<string>___PACKAGENAMEASIDENTIFIER___.swift</string>
			</dict>
		</dict>
	</dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.applicationBase</string>
	</array>
	<key>Identifier</key>
	<string>io.cleankit.baseAcceptanceTests</string>
	<key>Concrete</key>
	<false/>
	<key>TargetOnly</key>
	<true/>
	<key>Targets</key>
	<array>
		<dict>
			<key>ProductType</key>
			<string>com.apple.product-type.application</string>
			<key>SharedSettings</key>
			<dict>
				<key>LD_RUNPATH_SEARCH_PATHS</key>
				<string>$(inherited) @executable_path/../Frameworks</string>
				<key>SWIFT_OBJC_BRIDGING_HEADER</key>
				<string>___PACKAGENAMEASIDENTIFIER___/___PACKAGENAMEASIDENTIFIER___-Bridging-Header.h</string>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Name</key>
					<string>[___POD_ABBREVIATION___] Generate Fitnesse Test System Scripts</string>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>ShellScript</key>
					<string>${OCSP_SUPPORT_FILE_DIR}/ocsp-generate-fitnesse-test-system-scripts.sh &quot;${OCSP_BUNDLE_RESOURCES_DIR}&quot;</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>___PACKAGENAMEASIDENTIFIER___-Bridging-Header.h</string>
		<string>___PACKAGENAMEASIDENTIFIER___.m</string>
		<string>FixtureExample.swift</string>
		<string>SlimTables.h</string>
		<string>Info.plist:PackageType</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>___PACKAGENAMEASIDENTIFIER___-Bridging-Header.h</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___-Bridging-Header.h</string>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>SortOrder</key>
			<integer>100</integer>
		</dict>
		<key>___PACKAGENAMEASIDENTIFIER___.m</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___.m</string>
			<key>Group</key>
			<string>Supporting Files</string>
		</dict>
		<key>FixtureExample.swift</key>
		<dict>
			<key>Path</key>
			<string>FixtureExample.swift</string>
			<key>Group</key>
			<string>Fixtures</string>
		</dict>
		<key>SlimTables.h</key>
		<dict>
			<key>Path</key>
			<string>SlimTables.h</string>
			<key>Group</key>
			<string>Supporting Files</string>
		</dict>
		<key>Info.plist:PackageType</key>
		<string>&lt;key&gt;CFBundlePackageType&lt;/key&gt;
&lt;string&gt;APPL&lt;/string&gt;
</string>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Swift</key>
				<dict>
					<key>Project</key>
					<dict>
						<key>Configurations</key>
						<dict>
							<key>Debug</key>
							<dict>
								<key>SWIFT_OPTIMIZATION_LEVEL</key>
								<string>-Onone</string>
								<key>SWIFT_ACTIVE_COMPILATION_CONDITIONS</key>
								<string>DEBUG</string>
							</dict>
							<key>Release</key>
							<dict>
								<key>SWIFT_OPTIMIZATION_LEVEL</key>
								<string>-Owholemodule</string>
							</dict>
						</dict>
					</dict>
					<key>Targets</key>
					<array>
						<dict>
							<key>Concrete</key>
							<false/>
							<key>SharedSettings</key>
							<dict>
								<key>SWIFT_VERSION</key>
								<string>3.0</string>
							</dict>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
