<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>io.cleankit.macAcceptanceTests</string>
	<key>Description</key>
	<string>This target builds a Mac Application for Acceptance Testing your App using the Fitnesse framework. Requires a project that uses CocoaPods.</string>
	<key>Ancestors</key>
	<array>
		<string>io.cleankit.baseAcceptanceTests</string>
		<string>com.apple.dt.unit.osxBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Targets</key>
	<array>
		<dict>
			<key>SharedSettings</key>
			<dict>
				<key>LD_RUNPATH_SEARCH_PATHS</key>
				<string>$(inherited) @executable_path/../Frameworks</string>
			</dict>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>Info.plist:MainNib</string>
		<string>Info.plist:PrincipalClass</string>
		<string>Empty.xib</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Info.plist:MainNib</key>
		<string>&lt;key&gt;NSMainNibFile&lt;/key&gt;
&lt;string&gt;Empty&lt;/string&gt;
</string>
		<key>Info.plist:PrincipalClass</key>
		<string>&lt;key&gt;NSPrincipalClass&lt;/key&gt;
&lt;string&gt;OCSlimNSApplicationRunner&lt;/string&gt;</string>
		<key>Empty.xib</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Empty.xib</string>
			<key>SortOrder</key>
			<integer>101</integer>
		</dict>
	</dict>
</dict>
</plist>
